.header img {
    height: 80px;

}
.header{
    text-align: center;
}
.header nav{
    background: black;
    line-height: 40px;
    font-size: 20px;
}
.header nav a{
    text-decoration: none;
    margin-right: 10px ;
    padding: 5px;
    color: white;
}
nav a:hover{
    background: gray;
    transition: 0.4s;
}